@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.navbar{
    overflow: hidden;
    background-color:olivedrab;
    width: 100%;
    
}
.navbar a{
    float: left;
    text-decoration: none;
    color: black;
    padding: 10px;
}
.right-nav{
    float:right;
    margin-right: 10px;
}

.right-nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 15px;
}

.para p{
    font-size: 15px;
    padding: 15px;
    margin-left:10%;
    margin-right: 10%;
}
.grid{
    display: grid;
    gap:20px;
    padding:10px;
    grid-template-columns: 20% 20% 20% ;
    background-color: white;
    justify-content: center;
}

.grid p{
   
   background-color: #D3D3D3;
   padding: 20px 10px;
   
}



